.tlui-button__tool[data-value="note"] {
  display: none;
}



/* 调整所有使用mask属性的图标大小 */
.tlui-icon[style*="mask: url"] {
  /* 覆盖mask属性，保持原始URL但缩小尺寸 */
  mask-size: 80% !important;
  -webkit-mask-size: 80% !important;
  /* 添加居中属性 */
  mask-position: center !important;
  -webkit-mask-position: center !important;
}

/* 确保按钮图标容器本身也居中对齐 */
.tlui-button__icon {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* 添加以下样式 */
.tldraw__editor {
  .protyle-gutters {
    /* top: 50px !important; */
    /* left: 8px !important; */
    display: none ;
  }
  .protyle-content {
    overflow: none;
    flex: 1;
    scrollbar-gutter: stable;
  }
  .protyle-toolbar {
    top: 0 !important;
    left: 0 !important;
  }
  .protyle-title{
    margin: 15px 26px 0px !important;
  } 

}

/* 确保包含块使用相对定位 */
.tldraw__editor .protyle-wysiwyg {
  position: relative;
  padding: 12px !important;
}

[custom-st-tldraw="1"] {
  background-color: #398ecd57 ;
}

