.steveTool-whiteboard-container {
    background-color: var(--b3-theme-background);
    overflow: hidden;
    touch-action: none;
    user-select: none;
}

.steveTool-whiteboard-toolbar button {
    transition: background-color 0.2s ease;
}

.steveTool-whiteboard-toolbar button:hover {
    background-color: var(--b3-theme-hover) !important;
}