$background-color-success: #4b8c8a3d;
$background-color-processing: #3478c83d;
$background-color-info: #596c7036;
$background-color-archive: #747d403d;

//事件块背景
.sb,
.li,
.p {
    &[custom-st-event="todo"] {
        background-color: $background-color-info;
    }

    &[custom-st-event="inprogress"] {
        background-color: $background-color-processing;
    }

    &[custom-st-event="done"] {
        background-color: $background-color-success;
    }

    &[custom-st-event="archive"] {
        background-color: $background-color-archive;
    }
}


.calendar-wrapper {
    background: var(--b3-theme-background);
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.calendar-wrapper .fc {
    height: 100%;
}


